@import url("//fonts.googleapis.com/css?family=Do+Hyeon:400");
@import '~antd/dist/antd.css';
@import '~react-notifications/lib/notifications.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';
@import "utils";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

header .trigger:hover {
  color: #1890ff;
}

header .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.contents-layout {
  .contents-header {
    position:relative;
    h3 {
      font-size: 1.4em;
      font-weight: 700;
    }
    p {
      font-size: 0.8em;
      color:#666;
      font-weight: 500;
    }
    .btn-area {
      position:absolute;
      right:0;
      bottom:0;
    }
  }
  .table-header {
    line-height:35px;
    display:flex;
    margin-bottom:8px;
    .table-header-total {
      flex:1;
    }
    .table-header-filter {
      .ant-input,
      .ant-calendar-picker,
      .ant-select {
        margin-right:10px;
      }
    }
  }
}

.ant-form-item {
  margin-bottom:0 !important;
}
.notification-container {
  top:auto !important;
  bottom:50px;
}
.has-error .ant-form-explain, .has-error .ant-form-split {
  font-size: .65rem;
}
.ant-form-item-label {
  label {
    font-size:.7rem;
  }
}

.logo {
  height: 32px;
  line-height:32px;
  color:#FFF;
  text-align: center;
  font-weight:700;
  background: rgba(255, 255, 255, 0.1);
  margin: 16px;
  white-space: nowrap;
  overflow:hidden;
  font-size:12px;
}
.ant-menu-submenu-title,
.ant-menu-item {
  font-size:12px !important;
}
.ant-table-small {
  font-size:12px !important;
}
.header {
  background: $oc-violet-6;
  height: 5rem;

  display: flex;
  align-items: center;

/*  .logo {
    color: white;

    font-weight: 800;
    font-size: 1.5rem;

    cursor: pointer;

    margin-left: 1rem;

    user-select: none;
  }*/

  .logout {
    margin-left: auto;
    margin-right: 1rem;
    color: white;

    font-weight: 800;
    font-size: 2rem;

    cursor: pointer;
  }
}
.react-grid-item {
  border:1px solid #EEE;
}
.ant-layout-content {
  overflow-y:auto;
}